<div class="full-height-scroll">
    {foreach name="arr['health']" id="vo"}
    <div class="ibox" style="margin-top:10px;">
        <div class="ibox-title navy-bg" style="min-height:35px;padding:10px 0 7px;border:none;border-radius:5px;">
            <ul style="list-style:none;">
                <li class="col-sm-3">用户ID：{$vo.uId}</li>
                <li class="col-sm-3">所患疾病：{$vo.Disease}</li>
            </ul>
        </div>
        <div class="ibox-content" style="border:2px solid #eee;border-top:none;">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>主诊医师：{$vo.Attend}</td>
                        <td>审核ID：{$vo.AuditId}</td>
                        <td>审核时间： {$vo['AuditTime']|date="Y/m/d H:i:s",###}</td>
                        <td>证明人ID：{$vo.WitnessID}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="diagnosis-proof">
                <span>医院诊断证明：</span>

                {foreach name="vo['Prove']" id="vo_1"}
                <a class="imgBig" href="http://images.china.cn/news/attachement/jpg/site3/20110924/45713173535868909.jpg">
                    <img src="{$vo_1['imgpath']}" width="150" height="80"/>
                </a>

                {/foreach}
                </a>
            </div>

        </div>
    </div>
    {/foreach}
</div>