<div class="row full-height-scroll" style="padding-top:20px;">
    <div class="col-sm-3" style="border-right:1px solid #eee;">
        <div class="red-bg col-sm-8 col-sm-offset-2" style="padding:8px 0;text-align:center;border-radius:5px;">
            邻家女孩
        </div>
        <div class="shop-head">
            <img src="http://bxgogo.oss-cn-beijing.aliyuncs.com/imagesseller/seller_logo/20170811201708111107165104.jpeg?x-oss-process=image/quality,q_25/format,jpg" width="90%"/>
        </div>
        <div class="table-responsive" style="padding:0 10px;">
            <table class="table">
                <tbody>
                    <tr>
                        <td>合同编号：</td>
                        <td>BXG0518</td>
                    </tr>
                    <tr>
                        <td>签约日期：</td>
                        <td>2017-10-27</td>
                    </tr>
                    <tr>
                        <td>签约城市：</td>
                        <td>河北保定</td>
                    </tr>
                    <tr>
                        <td>业务员：</td>
                        <td>XXX</td>
                    </tr>
                    <tr>
                        <td>审核ID：</td>
                        <td>023564</td>
                    </tr>
                    <tr>
                        <td>审核时间：</td>
                        <td>2017-10-27 16:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-7">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <td>店铺ID：12345678</td>
                        <td>店铺名称：邻家女孩</td>                                                
                    </tr>
                    <tr>
                        <td>商家限额：满100元包邮</td>
                        <td>限额运费：10元</td>                                                
                    </tr>
                    <tr>
                        <td>营业时间：8:00-18:00</td>
                        <td>经纬度：10  10</td>                                                
                    </tr>
                    <tr>
                        <td>浏览量：100</td>
                        <td>关注量：20</td>                                                
                    </tr>
                    <tr>
                        <td colspan="2">店铺地址：河北省保定市莲池区裕华路333号</td>                                         
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="diagnosis-proof">
            <span>营业执照：</span>
            <a class="imgBig" href="http://img1.jc001.cn/img/665/1587665/1308/13520c51e3118a4.jpg">
                <img src="http://img1.jc001.cn/img/665/1587665/1308/13520c51e3118a4.jpg" width="120" height="180"/>
            </a>
            <a class="imgBig" href="http://img1.jc001.cn/img/665/1587665/1308/13520c51e3118a4.jpg">
                <img src="http://img1.jc001.cn/img/665/1587665/1308/13520c51e3118a4.jpg" width="120" height="180"/>
            </a>
        </div>


    </div>
</div>